@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-syne;
  }
}


@layer utilities {
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

.animate-marquee:hover {
  animation-play-state: paused;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

